	{% extends "layout.html" %}
	{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }} <!--adds a csfr token to safe guard against forgerry and attacks -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today</legend>
				<div class="form">
					{{ form.username.label(class="form-control-label") }}
					{{ form.username(class="form-control form-control-lg") }}					
				</div>				
				<div class="foremailm">
					{{ form.email.label(class="form-control-label") }}
					{{ form.email(class="form-control form-control-lg") }}					
				</div>
				<div class="form">
					{{ form.password.label(class="form-control-label") }}
					{{ form.password(class="form-control form-control-lg") }}					
				</div>
				<div class="form">
					{{ form.confirm_password.label(class="form-control-label")}}
					{{ form.confirm_password(class="form-control form-control-lg") }}					
				</div>
				<div class="form">
					{{ form.submit(class="btn btn-outline-info") }}								
				</div>
			</fieldset>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have An Account? <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
		</small>
		
	</div>
	
	{% endblock content %}